*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body html{
    width: 100%;
    height: 100%;
}
.container{
    height: 100vh;
    width: 100%;
    background-color: rgb(32, 41, 41);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-container{
    height: 95%;
    width: 24%;
    background-color: white;
    border-radius: 50px;
    
}
nav{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
   
    align-items: center;
}
.user-name{
    display: flex;
    gap: 5px;
    align-items: center;
   margin-left: 15px;
}
.user-name h1{
    font-size: 22px;
   
}
.right{
    display: flex;
    gap: 15px;
   margin-right: 15px;
}
.right i{
    font-size: 20px;
   
}

.protfile{
    display: flex;
   
   
}
.data{
    display: flex;
    gap: 30px;
    align-items: center;
    margin-left: 40px;
    text-align: center;
    
   
}
.data h2{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
}
.data p{
    color: rgb(66, 64, 64);
}


.profile-dp{
    width: 80px;
    height: 80px;
    margin-left: 10px;
    
   
}
.profile-dp img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    padding: 2px;
    border: 2px solid gray;

}
.Bio{
    width: 350px;
   
    padding-left: 10px;
}
.pro_area{
   margin-top: 22%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;

}
.pro_area h3{
    font-size: 13px;
    background-color: whitesmoke;
    padding: 5px 30px;
    font-weight: 550;
    border-radius: 10px;
    
    
}
.pro_area i{
    padding: 5px;
    background-color: whitesmoke;
    
}


.memories{
    width: 60px;
    height:60px;
    

}
.memories img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 3px solid gray;
    padding: 3px;
}
.high-light{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
.high-light h4{
    text-align: center;
    font-size: 13px;
    font-weight: 500;
}

.icon_tag_container{
    margin-top: 40px;
    display: flex;
    justify-content:space-around;
}
.mat i{
    font-size: 25px;
    
}
.tag i{
    font-size: 20px;
    border: 1px solid gray;
    padding: 2px;

    
}

.video{
    width: 25px;
    height: 25px;

}
.video img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.img-container{
    width: 100%;
    display: flex;
    gap: 3px;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
    
}
.box {
    width: 110px;
    height: 100px;

}
.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}




.dp-corner{
    height: 25px;
    width: 25px;
    margin-right: 20px;

}
.dp-corner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.footer{
    display: flex;
    justify-content: space-between;
    
    margin-top: 12px;
    padding: 3px 10px;
}
.icon-footer{
    display: flex;
   gap: 50px;
   align-items: center;
   margin-left: 20px;

}
.icon-footer i{
    font-size: 20px;
}
.icon-footer i:nth-child(3){
    border: 2px solid black;
    padding: 2px;
    border-radius: 10px;
    font-size: 18px;
}